.expOne 
    h5.font-weight-bold.mb-0 Full stack web developer
    h5(style='color:black').font-weight-bold.mb-0 Al-yaman group
    p.date 5/2017-6-2019
    p.font-weight-bold Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit sunt perspiciatis maiores sequi laborum, corrupti expedita id saepe? Similique eaque aliquam temporibus vitae commodi incidunt, odit delectus ratione iste veniam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, velit sit nemo esse tenetur commodi aliquid explicabo, adipisci nostrum magni quia corrupti. Quidem esse aliquid provident veritatis repudiandae ab fugit.