.reffOne.my-3
    .font-weight-bold  
        h4.item-title.font-weight-bold=reff.RefName
        p=reff.RefJob+' // '+reff.RefAt
    div
        h5 Email: 
            span=reff.RefMail
        h5 Phone: 
            span=reff.RefPhone
            
//- h4=reff.RefName