.profile-section.my-4.px-4
    h4.mb-4.section-title Profile
    p.b-border.pb-4  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum nisi est asperiores magnam? Voluptatum, quisquam reiciendis in doloribus velit obcaecati! Ab sed officiis, rerum quo provident amet necessitatibus ipsum deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates repudiandae recusandae sint ad asperiores corporis tenetur, perferendis similique at maxime in molestias consequuntur, esse eius voluptatibus voluptatem aliquid consectetur aut.