.reffOne.my-5
        div 
            h4.item-title=reff.RefName
            p=reff.RefJob+' at '+reff.RefAt
            h5 Email: 
                span=reff.RefMail
            h5 Phone: 
                span=reff.RefPhone
            
//- h4=reff.RefName