.eduOne.d-flex
    .col-sm-4.p-0
        h4.font-weight-bold University of Alberta
        p.data 2021-2022
    .col-sm-8.px-4.pb-5.l-border
        h4.font-weight-bold Bachlor in Computer Science
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe vero, sed, ab voluptates, itaque animi quidem quia omnis tempora aliquam excepturi placeat et odio? Tenetur magni dicta nam animi consectetur.

