.expOne.d-flex
    .col-sm-3.p-0
        h4.font-weight-bold Al-yaman group 
        p.data 2021-2022
    .col-sm-9.px-4.pb-5.l-border
        h4.font-weight-bold Full-stack Wb developer
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe vero, sed, ab voluptates, itaque animi quidem quia omnis tempora aliquam excepturi placeat et odio? Tenetur magni dicta nam animi consectetur.

