.contacts-section.mb-5
    .mb-4
        h4.section-title(style="color:#a9a9a9 !important;border-bottom:2px #a9a9a9 solid") CONTACTS
    .text-end 
        div
            h6.font-weight Facebook
            p facebook.com/Blaxk
        div  
            h6.font-weight-bold Twitter
            p twiter.com/Blaxk
        div  
            h6.font-weight-bold LinkedIn
            p linkedin.com/Blaxk
        div  
            h6.font-weight-bold Google