.education-section.my-4
    .mt-3
        h4.section-title(style="color:#a9a9a9 !important;border-bottom:2px #a9a9a9 solid") Education
        .b-section-h
    div 
        for edu in cv.CVEdu 
            include ../items/edu
if side ==='main'
    .b-section
    .b-border 
    .b-section.mb-4