.experince-section.my-4
    .mt-3
        h4.section-title(style="color:#a9a9a9 !important;border-bottom:2px #a9a9a9 solid") Projects
    div
        for proj in cv.CVProj
            include ../items/proj