.reffrences-section.my-4
    .mt-3
        h4.section-title(style="color:#a9a9a9 !important;border-bottom:2px #a9a9a9 solid") Reffrencess     
    div 
        for reff in cv.CVReff
            include ../items/reff
