.contacts-section.mb-5
    .mb-4
        .text-center.my-2
            .mx-3.b-border
                h3.mx-6.my-0.pb-2(style="font-weight: bold;") Contacts
    .d-flex.flex-column.align-items-center.text-center.mx-5
        .d-flex
            h6 F
            p Blaxk
        .d-flex  
            h6 Tw
            p Blaxk
        .d-flex  
            h6 Li
            p Blaxk
        .d-flex  
            h6.glyphicon.glyphicon-envelope
            p deadman962011@gmail.com