.education-section.mx-6
    .mb-4
        .text-center.my-2
            .mx-3.b-border
                h3.mx-6.my-0.pb-2(style="font-weight: bold;") Education
    .mx-6
        for edu in cv.CVEdu 
            include ../items/edu
