.org-section.mx-6
    .mb-4
        .text-center.my-2
            .mx-3.b-border
                h3.mx-6.my-0.pb-2(style="font-weight: bold;") Organization
    .mx-6
        for org in cv.CVOrg
            include ../items/org
