.reffrences-section.mx-6
    .mb-4
        .text-center.my-2
            .mx-3.b-border
                h3.mx-6.my-0.pb-2(style="font-weight: bold;") Reffrences
    .mx-6
        for reff in cv.CVReff
            include ../items/reff
