.contacts-section.mb-2.my-2.mx-2
    .d-flex.flex-column.align-items-start
        .d-flex.justify-content-between
            p Blaxk
            h6 F
        .d-flex.justify-content-between
            p Blaxk
            h6 Tw
        .d-flex.justify-content-between
            p Blaxk
            h6 Li
        .d-flex.justify-content-between
            p deadman962011@gmail.com
            h6.glyphicon.glyphicon-envelope