.award-section 
    .mt-4
        h4 Awards
        .b-section-h
    div 
        for aw in cv.CVAw 
            include ../items/aw
if side ==='main'
    .b-section
    .b-border 
    .b-section.mb-4