.contacts-section.mb-5
    .mb-4.d-flex.flex-column.align-items-end
        h4 CONTACTS
        .b-section-h
    .text-end 
        div
            h6.font-weight Facebook
            p facebook.com/Blaxk
        div  
            h6.font-weight-bold Twitter
            p twiter.com/Blaxk
        div  
            h6.font-weight-bold LinkedIn
            p linkedin.com/Blaxk
        div  
            h6.font-weight-bold Google