.education-section 
    .mt-4
        h4 Education
        .b-section-h
    div 
        for edu in cv.CVEdu 
            include ../items/edu
if side ==='main'
    .b-section
    .b-border 
    .b-section.mb-4