.org-section
    .mt-4
        h4 Organization
        .b-section-h
    div
        for org in cv.CVOrg
            include ../items/org
if side ==='main'
    .b-section
    .b-border 
    .b-section.mb-4