.experince-section
    .mt-4
        h4 Projects
        .b-section-h
    div
        for proj in cv.CVProj
            include ../items/proj
if side ==='main'
    .b-section
    .b-border 
    .b-section.mb-4