.reffrences-section
    .mt-4
        h4 Reffrencess
        .b-section-h        
        div 
            for reff in cv.CVReff
                include ../items/reff
if side ==='main'
    .b-section
    .b-border 
    .b-section.mb-4