.eduOne.mb-5
    .d-flex.justify-content-between 
        div 
            h5 Bachlor of Computer science
            h5 University of Alberta
        p.date 2021-2022
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti numquam dolorum atque vel assumenda ullam architecto iusto sapiente enim. Neque accusamus laboriosam accusantium incidunt quam nulla natus esse cumque dolorem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, laboriosam natus! Fugit ullam porro sapiente exercitationem molestiae assumenda soluta dolores delectus atque. Molestias perferendis iure, porro architecto cupiditate nulla reprehenderit!