.eduOne.font-weight-bold.my-2
    h5.font-weight-bolder.mb-1 Bsc at Computer Science - University of Alberta
    p.my-2.data sep 2021 - aug 2022
    p Lorem ipsum dolor sit amet consectetur adipisicing elit.