.reffOne.mb-5
        div 
            h4.item-title=reff.RefName+' , '+reff.RefJob+translate[lang].at+' '+reff.RefAt
            h5 Email: 
                span=reff.RefMail
            h5 Phone: 
                span=reff.RefPhone
            
//- h4=reff.RefName