extends ../../../layout


block content
    h4 new program child form
    form.form-horizontal( method="post" ) 
        .form-group 
            input.form-control(type="text" name="progNameI" placeholder='program name' required )
        .form-group 
            textarea.form-control(rows='5' name='progDescI' placeholder='program Descrition' required ) 
        .form-group 
            input(type='submit').btn.btn-primary
