.eduOne.my-3
    div 
        h5.item-title(style="color:#a9a9a9 !important")=edu.EduTitle
        h5.font-weight-bold=edu.EduAt
        p.date(style="color:#a9a9a9 !important") 08/2021-04/2022
    p!=edu.EduDesc