.reffOne.my-3
        div 
            h5.item-title(style="color:#a9a9a9 !important")=reff.RefName
            h5.font-weight-bold=reff.RefJob+' at '+reff.RefAt
            h5 Email: 
                span=reff.RefMail
            h5 Phone: 
                span=reff.RefPhone
            
//- h4=reff.RefName